body {
    margin: 0;
    background: rgb(219, 223, 214);
    font-family: "Verdana", sans-serif;
    color: rgb(0, 0, 0);
}

.content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
  
header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(45, 45, 45);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
  }

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }

img {
    border: 5px solid rgb(45,45,45);
    border-radius: 50%;
  }

p {
    margin-left: 10%;
    margin-right: 10%;
  }

footer {
  position: absolute;
  border-top: 4px solid rgb(45, 45, 45);
  width: 100%;
  background: #000000;
  text-align: center;
  color: rgb(214, 219, 206);
}

navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

navbar > a {
  font-weight: bold;
  font-size: 16px;
}

ul {
  text-align: center;
  list-style-position: inside;
}