body {
    margin: 0;
    background: rgb(180, 192, 161);
    text-align: center;
    font-family: "Monaco", Lucida-Console, Calibri, sans-serif;
}

.content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
  
header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: rgb(227, 235, 213);
    border-bottom: 4px solid rgb(111, 111, 111);
    color: rgb(111, 111, 111);
  }